{% extends "app/templates/base.jinja2" %}
{% from "macro.jinja2" import render_field %}

{% block body %}
<form method=post action="/signup">
    {% if error %}
        <div><span class="error">{{ error }}</span></div>
    {% endif %}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  <div>
  <button type=submit class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
  </div>
</form>
{% endblock %}